/* Global config rules */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: calc(100% - 2rem);
  /* Note this height rule may need to change later - its just a close guess */
}

body {
  font-family: Lato;
  background-color: rgb(27, 29, 32);
  color: #ffffff;
  /* background-color: #fff; */
  /* color: #000; */
  height: 100%;
  width: 100%;
}

table 
  {  
  border-spacing: 0; 
  border-collapse: collapse; 
} 

td  
  { 
  text-align: left; 
  font-weight: normal; 
}



/* Variables ----------------------------------------------------------------- */




/* NOTES ----------------------------------------------------------------------- */

/*
grabameeting colors
#797ef4
#6c98f1
#7ad7e9

*/

/* max mobile width: 800px; */



.navbar {
  height: 4rem;
  padding: 1rem;
}

.nav-home {
  font-size: xx-large;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: calc(100% - 4rem);
  margin: 1vw;
}

/* NAMING: pc = project card */

.pc-group-container {
  width: 100%;
  height: 300%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5vw;
}

@media only screen and (min-width: 800px) {
  .pc-group-container {
    flex-direction: row;
    height: 100%
  }
}

.pc-container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pc-frame {
  position: relative;
  max-height: 24rem;
  max-width: 24rem;
  height: 95vw;
  width: 95vw;

  transform: translateY(0rem); /* I don't understand why, but this rule keeps the pc background contained & overflow-hidden inside the frame */
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: max-height 0.5s, max-width 1s;
}

@media only screen and (min-width: 800px) {
  .pc-frame {
    max-width: 30vw;
    max-height: 30vw;
    width: 20rem;
    height: 20rem;
  }
}

.pc-frame-extended {
  width: 95vw;
  height: 85vh;
  max-width: 95vw;
  max-height: 85vh;
  transition: max-height 0.5s, max-width 1s;
}

@media only screen and (min-width: 800px) {
  .pc-frame-extended {
    min-width: 37vw;
    min-height: 95vh;
  }
}

.pc {
  position: fixed;
  width: 95vw;
  height: 95vh;
  /* transition: height; */
  /* transition: flex 0.3s ease-out; */

  border-radius: 1rem;
  padding: 1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .pc {
    width: 40rem;
  }
}

.pc-1 {
  /* background: rgba(108,152,241,1); */
  /* background: linear-gradient(0deg,
    rgb(127, 120, 232) 0%,
    rgba(108,152,241,1) 50%,
    rgb(122, 192, 233) 100%
  ); */
  /* background: rgb(108,152,241,1); */
  /* background: linear-gradient(0deg, rgb(42, 80, 163) 0%, rgb(146, 182, 255) 100%); */
  background: linear-gradient(0deg, rgba(50,90,173,1) 0%, rgba(108,152,241,1) 40%, rgba(108,152,241,1) 60%, rgba(140,173,240,1) 100%);
  color: #fff;
}

.pc-2 {
  background: rgb(127, 120, 232);
  color: #fff;
}

.pc-3 {
  background: #75b53b;
  color: #fff;
}

.pc-header-container {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  /* margin-left: 3rem; */
  /* margin-right: 3rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pc-header {
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.pc-plus {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.pc-plus-1 {
  background-color: rgb(89, 137, 233);
}

.pc-plus-2 {
  background-color: rgb(127, 120, 232)
}

.pc-plus-3 {
  background-color: #75b53b;
}

.pc-grabameeting-icon {
  /* width: 3.75rem;
  height: 6.75rem; */
  width: 8rem;
  height: 8rem;
  
  /* -webkit-box-shadow: -5px 5px 10px 5px #0006A3;  */
  filter: drop-shadow(-5px 5px 5px rgb(19, 52, 117));
}
