/* Global config rules */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: calc(100% - 2rem);
  /* Note this height rule may need to change later - its just a close guess */
}

body {
  font-family: Lato;
  background-color: rgb(14, 15, 17);
  color: #ffffff;
  height: 100%;
  width: 100%;
}

table 
  {  
  border-spacing: 0; 
  border-collapse: collapse; 
} 

td  
  { 
  text-align: left; 
  font-weight: normal; 
}



/* NOTES -----------------------------------------------------------------------

grabameeting colors
#797ef4
#6c98f1
#7ad7e9

*/



.navbar {
  height: 4rem;
  padding: 1rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 4rem);
}

.nav-home {
  font-size: xx-large;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.project-card-container {
  position: relative;
  min-height: 20vw;
  min-width: 20vw;

  transform: translateY(-2rem); /* move up 1/2 navbar height */
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: min-height 0.5s, min-width 1s;
}

.project-card-container-extended {
  min-height: 80vh;
  min-width: 30vw;
}

.project-card {
  position: fixed;
  width: 40vw;
  height: 80vh;
  /* transition: height; */
  /* transition: flex 0.3s ease-out; */

  border-radius: 1rem;
  padding: 1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-1 {
  background: rgba(108,152,241,1);
  background: linear-gradient(0deg,
    rgb(127, 120, 232) 0%,
    rgba(108,152,241,1) 50%,
    rgb(122, 192, 233) 100%
  );
  color: #fff;
}

.project-card-header {
  font-size: xx-large;
}
