/* Global config rules */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: calc(100% - 2rem);
  /* Note this height rule may need to change later - its just a close guess */
}

body {
  font-family: Lato;
  background-color: rgb(27, 29, 32);
  color: #ffffff;
  /* background-color: #fff; */
  /* color: #000; */
  height: 100%;
  width: 100%;
}

table 
  {  
  border-spacing: 0; 
  border-collapse: collapse; 
} 

td  
  { 
  text-align: left; 
  font-weight: normal; 
}



/* Variables ----------------------------------------------------------------- */




/* NOTES ----------------------------------------------------------------------- */

/*
grabameeting colors
#797ef4
#6c98f1
#7ad7e9

*/

/* max mobile width: 800px; */



.navbar {
  height: 4rem;
  padding: 1rem;
}

.nav-home {
  font-size: xx-large;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: calc(100% - 4rem);
  margin: 1vw;
}

/* NAMING: pc = project card */

.pc-group-container {
  width: 100%;
  height: 300%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5vw;
}

@media only screen and (min-width: 800px) {
  .pc-group-container {
    flex-direction: row;
    height: 100%
  }
}

.pc-container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pc-frame {
  position: relative;
  min-height: 95vw;
  min-width: 95vw;

  transform: translateY(0rem); /* I don't understand why, but this rule keeps the pc background contained & overflow-hidden inside the frame */
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: min-height 0.5s, min-width 1s;
}

@media only screen and (min-width: 800px) {
  .pc-frame {
    min-width: 30vw;
    min-height: 30vw;
  }
}

.pc-frame-extended {
  min-width: 95vw;
  min-height: 85vh;
}

@media only screen and (min-width: 800px) {
  .pc-frame-extended {
    min-width: 37vw;
    min-height: 95vh;
  }
}

.pc {
  position: fixed;
  width: 95vw;
  height: 95vh;
  /* transition: height; */
  /* transition: flex 0.3s ease-out; */

  border-radius: 1rem;
  padding: 1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .pc {
    width: 40rem;
  }
}

.pc-1 {
  /* background: rgba(108,152,241,1); */
  /* background: linear-gradient(0deg,
    rgb(127, 120, 232) 0%,
    rgba(108,152,241,1) 50%,
    rgb(122, 192, 233) 100%
  ); */
  background: rgb(108,152,241,1);
  color: #fff;
}

.pc-2 {
  background: rgb(127, 120, 232);
  color: #fff;
}

.pc-3 {
  background: #75b53b;
  color: #fff;
}

.pc-text-container {
  padding: 1rem;
}

.pc-header {
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
